{{- $arch := "x86_64" -}}
{{- if eq .chezmoi.arch "arm64" }}{{ $arch = "aarch64" }}{{ end -}}
{{- $target := "unknown-linux-musl" -}}
{{- if eq .chezmoi.os "darwin" }}{{ $target = "apple-darwin" }}{{ end -}}
{{- $brand := "https://github.com/edgeweave-showroom/brand/archive/refs/heads/main.tar.gz" }}

# Starship prompt
[".local/bin/starship"]
    type = "archive-file"
    url = "https://github.com/starship/starship/releases/latest/download/starship-{{ $arch }}-{{ $target }}.tar.gz"
    path = "starship"
    executable = true
    refreshPeriod = "168h"


# Zsh plugins
[".config/zsh/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".config/zsh/plugins/zsh-history-substring-search"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-history-substring-search/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".config/zsh/plugins/f-sy-h"]
    type = "archive"
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"


# Vim plugins
[".vim/pack/plugins/start/editorconfig-vim"]
    type = "archive"
    url = "https://github.com/editorconfig/editorconfig-vim/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".vim/pack/plugins/start/vim-airline"]
    type = "archive"
    url = "https://github.com/vim-airline/vim-airline/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".vim/pack/plugins/start/indentLine"]
    type = "archive"
    url = "https://github.com/Yggdroot/indentLine/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"


# Tmux plugins
[".tmux/plugins/tmux-cpu"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-cpu/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

# Pinned: the Edgeweave theme below is written for this version
[".tmux/plugins/catppuccin"]
    type = "archive"
    url = "https://github.com/catppuccin/tmux/archive/refs/tags/v2.3.1.tar.gz"
    exact = true
    stripComponents = 1


# Edgeweave theme, from the brand repository
[".vim/pack/plugins/start/edgeweave"]
    type = "archive"
    url = "{{ $brand }}"
    exact = true
    stripComponents = 3
    include = ["*/theme/vim/**"]
    refreshPeriod = "168h"

[".tmux/plugins/edgeweave"]
    type = "archive"
    url = "{{ $brand }}"
    exact = true
    stripComponents = 3
    include = ["*/theme/tmux/**"]
    refreshPeriod = "168h"

[".config/starship.toml"]
    type = "archive-file"
    url = "{{ $brand }}"
    stripComponents = 1
    path = "theme/starship/edgeweave-dark.toml"
    refreshPeriod = "168h"
